$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;
$neutral-color: #211c1c;

.about {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 15px;

  // responsiveness for tablet
  @media (min-width: 810px) {
    margin: 0 100px;
  }

  // responsiveness for MDPI
  @media (min-width: 1280px) {
    margin: 0 200px;
    gap: 200px;
  }

  // responsiveness for 1080p
  @media (min-width: 1920px) {
    margin: 0 500px;
  }

  //   introduction
  .introduction {
    // intro-item-2
    .itemTwo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        font-size: 2.5rem;
      }

      div {
        display: flex;
        gap: 25px;

        span {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 15px;
          // justify-content: center;

          p {
            font-size: 1.2rem;
          }

          img {
            width: 45px;
            height: 45px;
          }
        }
      }
    }

    .itemThree {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  // experience
  .experience {
    display: flex;
    flex-direction: column;
    gap: 50px;

    // exp-item-1
    .itemOne {
      display: flex;
      flex-direction: column;
      gap: 25px;

      // responsiveness for MDPI
      @media (min-width: 1280px) {
        h2 {
          text-align: center;
        }
      }
    }

    // exp-item-2
    .itemTwo {
      display: flex;
      flex-direction: column;
      gap: 40px;

      .exp {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .timeline {
          h4 {
            color: $complement-color;
          }
        }

        .position {
          ul {
            padding-left: 15px;
          }
        }
      }
    }
  }

  // education
  .education {
    display: flex;
    flex-direction: column;
    gap: 25px;

    p span {
      font-weight: bolder;
      text-decoration: underline;
    }

    // responsiveness for MDPI
    @media (min-width: 1280px) {
      h2 {
        text-align: center;
      }
    }
  }
}
