$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;
$neutral-color: #211c1c;

.archive {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 15px;

  // responsiveness for tablet
  @media (min-width: 810px) {
    margin: 0 100px;
  }

  // responsiveness for MDPI
  @media (min-width: 1280px) {
    margin: 0 200px;
    gap: 200px;
  }

  // responsiveness for 1080p
  @media (min-width: 1920px) {
    margin: 0 500px;
  }

  //   introduction
  .introduction {
    // itro-item-two
    .itemTwo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }
    }

    .itemThree {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  //   iterations
  .iterations {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .archived {
      border: 1px solid $accent-color;
      border-radius: 10px;
      background-color: $neutral-color;

      div a img {
        width: 100%;
        height: 100%;
        padding: 3px;
        border-radius: 10px 10px 0 0;
        border-bottom: 1px solid $accent-color;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;

        a {
          img {
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    // responsiveness for MDPI
    @media (min-width: 1280px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;

      .archived {
        width: 400px;

        // hover effect for MDPI and above
        transition: 0.3s linear;

        &:hover {
          border: 1px solid $accent-color2;
          transform: translateY(-5px);

          div a img {
            border-bottom: 1px solid $accent-color2;
          }

          span a img {
            filter: invert(39%) sepia(98%) saturate(913%) hue-rotate(27deg)
              brightness(103%) contrast(101%);
          }
        }
      }
    }
  }
}
