@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@600&display=swap");

$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace;
}

html {
  margin: 0 15px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: $dominant-color;
  color: $complement-color;
}

h1 {
  color: $complement-color2;
  font-family: "Space Grotesk", sans-serif;
}

h2 {
  color: $complement-color2;
  font-family: "Space Grotesk", sans-serif;
}

p {
  margin: 10px 0;
}