$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;
$neutral-color: #211c1c;

.home {
  display: flex;
  flex-direction: column;
  gap: 80px;
  margin: 0 15px;

  //   introduction
  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    // intro-item-1
    .itemOne {
      margin: 125px 0;
      width: 250px;
      height: auto;
    }

    // intro-item-2
    .itemTwo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }

      .introSocials {
        margin: 15px;
      }

      a {
        text-decoration: none;

        p {
          margin: 0;
          padding: 15px 0;
          text-align: center;
          color: $accent-color;
          border: 2px solid $accent-color;
          border-radius: 25px;
          font-size: 1.25rem;
          background-color: $neutral-color;
        }
      }
    }

    // inro-item-3
    .itemThree {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  // projects here
  .repository {
    display: flex;
    flex-direction: column;
    gap: 25px;

    a {
      text-decoration: none;

      .repo {
        margin: 0;
        height: 100%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border: 1px solid $accent-color;
        border-radius: 10px;
        background-color: $neutral-color;

        .repoRow {
          padding: 0;
          display: grid;
          border: none;
          grid-template-columns: 20px auto 20px;
          grid-template-areas: "itemOne itemTwo itemThree";
          grid-gap: 10px;
          align-items: center;

          .repoRowOne {
            width: 20px;
            height: auto;
            border-radius: 50%;
            grid-area: itemOne;
          }

          .repoRowTwo {
            font-size: 0.8rem;
            grid-area: itemTwo;
          }

          .repoRowThree {
            width: 20px;
            height: auto;
            grid-area: itemThree;
          }
        }

        h3 {
          color: $complement-color2;
        }

        p {
          color: $complement-color;
        }
      }
    }
  }

  .quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;

    p {
      font-family: "Courgette", cursive;

      cite {
        font-family: "Courgette", cursive;
      }
    }
  }
}

// TODO:
// 
// - .itemOne animation
// - "See my résumé" and .repo should change color to $accent-color2 when hovered
// - .repo lift animation when hovered
// - clicking sound
// - responsive design for:
//    - tablet
//    - HiDPI
//    - MDPI