$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;
$neutral-color: #211c1c;

.home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 0 15px;

  // responsiveness for tablet
  @media (min-width: 810px) {
    margin: 0 100px;
  }

  // responsiveness for MDPI
  @media (min-width: 1280px) {
    margin: 0 200px;
    gap: 200px;
  }

  //   introduction
  .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;

    // intro-item-1
    .itemOne {
      z-index: 1;
      margin: auto;
      width: 250px;
      height: auto;
      animation: float 15s linear infinite;
    }

    @keyframes float {
      0% {
        transform: translateY(0px);
      }
      33% {
        transform: translateY(-15px);
      }
      66% {
        transform: translateY(15px);
      }
      100% {
        transform: translateY(0px);
      }
    }

    // intro-item-2
    .itemTwo {
      display: flex;
      flex-direction: column;
      gap: 5px;

      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.2rem;
      }

      .introSocials {
        margin: 15px;
      }

      a {
        text-decoration: none;

        p {
          margin: 0;
          padding: 15px 0;
          text-align: center;
          color: $accent-color;
          border: 2px solid $accent-color;
          border-radius: 25px;
          font-size: 1.25rem;
          background-color: $neutral-color;

          // hover effect for MDPI and above
          @media (min-width: 1280px) {
            &:hover {
              border: 2px solid $accent-color2;
              color: $accent-color2;
            }
          }
        }
      }

      // responsiveness for tablet
      @media (min-width: 810px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        h1 {
          grid-row: 1;
          grid-column: span 3;
        }

        p {
          grid-row: 2;
          grid-column: span 3;
        }

        .introSocials {
          grid-row: 3;
          grid-column: 1;
        }

        a {
          grid-row: 3;
          grid-column: span 2;
        }
      }
    }

    // inro-item-3
    .itemThree {
      display: flex;
      flex-direction: column;
      gap: 25px;

      // responsiveness for MDPI
      @media (min-width: 1280px) {
        h2 {
          text-align: center;
        }
      }
    }

    // responsiveness for MDPI
    @media (min-width: 1280px) {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      column-gap: 10px;
      row-gap: 50px;

      .itemOne {
        margin: 0 auto;
        grid-row: 1;
        grid-column: 2;
      }

      .itemTwo {
        grid-row: 1;
        grid-column: 1;
      }

      .itemThree {
        grid-row: 2;
        grid-column: span 2;
      }
    }
  }

  // projects here
  .repositories {
    display: flex;
    flex-direction: column;
    gap: 25px;

    a {
      text-decoration: none;

      .repo {
        margin: 0;
        height: 100%;
        min-height: 150px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border: 1px solid $accent-color;
        border-radius: 10px;
        background-color: $neutral-color;

        .repoGrid {
          padding: 0;
          display: grid;
          border: none;
          grid-template-columns: 20px auto 20px;
          grid-template-areas: "itemOne itemTwo itemThree";
          grid-gap: 10px;
          align-items: center;

          .repoGridOne {
            width: 20px;
            height: auto;
            border-radius: 50%;
            grid-area: itemOne;
          }

          .repoGridTwo {
            font-size: 0.8rem;
            grid-area: itemTwo;
          }

          .repoGridThree {
            width: 20px;
            height: auto;
            grid-area: itemThree;
          }
        }

        h3 {
          color: $complement-color2;
        }

        p {
          color: $complement-color;
        }
      }

      // hover effect for MDPI and above
      @media (min-width: 1280px) {
        .repo:hover {
          border: 1px solid $accent-color2;
          transition: 0.1s linear;
          transform: translateY(-5px);

          .repoGrid {
            .repoGridThree {
              filter: invert(39%) sepia(98%) saturate(913%) hue-rotate(27deg)
                brightness(103%) contrast(101%);
            }
          }
        }
      }
    }

    // responsiveness for MDPI
    @media (min-width: 1280px) {
      display: grid;
      grid-template-areas: "itemOne itemOne";

      h2 {
        text-align: center;
        grid-area: itemOne;
      }
    }
  }

  .quote {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;

    p {
      font-family: "Courgette", cursive;

      cite {
        font-family: "Courgette", cursive;
      }
    }

    // responsiveness for MDPI
    @media (min-width: 1280px) {
      text-align: center;
    }
  }
}

// TODO:
//
// - .repo lift animation when hovered
// - clicking sound
// - responsive design for:
//    - HiDPI
