$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;

.home {
  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      margin: 200px 0;
      width: 250px;
      height: auto;
    }

    div {
      // texts
      h1 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.15rem;
        margin: 15px 0;
      }

      //   socials
      div {
        margin: 30px 15px;
        display: flex;
        align-items: center;
        gap: 35px;

        a {

          img {
            margin: 0;
            width: 25px;
            height: auto;
          }
        }
      }
    }
  }
}
