$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;
$neutral-color: #211c1c;

.nav {
  z-index: 2;
  margin-bottom: 200px;

  ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;
    padding: 30px;

    li {
      font-size: 1.15rem;

      a {
        text-decoration: none;
        color: $accent-color;
      }
    }
  }
}

.scrolled {
  position: sticky;
  top: 0;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;

  ul {
    background-color: $neutral-color;
    border-radius: 0.8rem;
    border: 1px solid $accent-color;
    padding: 20px;
  }

  // responsivess for tablet
  @media (min-width: 810px) {
    padding: 10px 100px;
  }

  // responsiveness for MDPI
  @media (min-width: 1280px) {
    padding: 10px 400px;
  }
}
