$dominant-color: #171212;
$complement-color: #c19797;
$complement-color2: #ebb8b8;
$accent-color: #836900;
$accent-color2: #ae8b00;
$neutral-color: #211c1c;

.navigation {
  ul {
    padding: 20px;
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 50px;

    li {
      font-size: 1.15rem;

      a {
        text-decoration: none;
        color: $complement-color;
      }
    }
  }
}
